# source
git /extensions/CairoResource https://github.com/OpenEngineDK/extensions-CairoResource.git
git-dev /extensions/CairoResource git@github.com:OpenEngineDK/extensions-CairoResource.git

# win lib
win32 /libraries http://openengine.dk/data/libraries/cairo-win32.zip

